.App{
  min-height: 100vh;
  background-image: url("./componentes/imagenes/fondo2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.imgcss{
  width: 90%;
  height: 15rem;
}

.navegacion{
  background-color: #F5B041;
  color: azure;
}

.texto1{
  font-size: 3ch;
  font-family: 'Century Gothic', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imginfo{
  width: 90%;
  height: 11rem;
}

.colores{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  grid-gap: 20px;
  height: 2rem;
}

.cantidad{
  width: 5rem;
  margin-left: 15px;
}

.comentarios{
  margin-top: 1rem;
  min-height: 23rem;
  max-height: 23rem;
  overflow: hidden;
  overflow-y: auto;
}

.comentarios::-webkit-scrollbar {
  width: 10px;
}

.comentarios::-webkit-scrollbar-track {
  background-color: #e9e5e5;
}

.comentarios::-webkit-scrollbar-thumb {
  background-color: #3286b6;
  border-radius: 20px;
}

.login{
  color: white;
}

.loginContent{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginfondo{
  background-color: cadetblue;
}

.baner{
  background: rgba(147,206,222,1);
  background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
}